.jumbotron {
    background-color:teal;
    display:flex;
}
.jumbotron h1{
    color: white;
    margin-left: 300px;
}
h2{
    text-align: center;
}
.thead{
background-color:teal;
}

.kerry{
    background-color:teal;
}
form{
    margin-left:200px;
    margin-right: 200px;
}
.copy{
    text-align: center;
    font-size: 20px;
}

/* .row p{
    text-align: center;
} */