.jumbotron {
    background-color:teal;
    /* background-color: cadetblue; */
}
h2{
    text-align: center;
}
.thead{
background-color:teal;
}

.kerry{
    background-color:teal;
}
form{
    margin-left:200px;
    margin-right: 200px;
}

/* .row p{
    text-align: center;
} */