.jumbotron {
    /* color: brown; */
    background-color: #4B878BFF;
    /* background-color: cadetblue; */
}

#intro img {
    width: 500px;
    height: 300px;
}

/* #intro p {
    float: left;
} */
#second img